<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
        @!section('content')






        @!section('scripts')
    
</body>
</html>